

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffdfa;
}

.background {
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-coffee-pattern_23-2147518954.jpg?'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.header {
    background-color: #c1730e;
    color: #1b1e18;
    text-align: center;
    padding: 1rem 0;
}

/* =========================================Navbar start====================================== */

nav {
    background-color: #2f332d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-left {
    order: 1; 
}

.navbar-right {
    order: 3; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #fffdfa;
}

nav a:hover {
    color: #4d693a;
    text-decoration: none;
}

/* ==========================================Navbar end=================================== */


.coffeeshopimg{
    display: flex;
    justify-content: center;    
}

.coffeeshopimg img{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}


section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ece6d9;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #4d693a;
}